<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/portfolio/5.jpg" class="img-circle img-responsive">
                <h2 class="section-heading">Em manutenção</h2>
                <hr class="light">
                <p class="text-faded">Em manutenção!</p>
                <a href="#" class="btn btn-default btn-xl">Voltar!</a>
            </div>
        </div>
    </div>
</section>
