<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/2015-03-31%2016.31.28-1.jpg" class="img-circle img-responsive">
                <h2 class="section-heading">Desenvolvedor - Pesquisador</h2>
                <hr class="light">
                <p class="text-faded"> Professor na Universidade Federal dos Vales do Jequitinhonha e Mucuri - Campus Mucuri 
                    e Pesquisador do Grupo de Extensão e Pesquisa em Agricultura Familiar - GEPAF.
                    Graduado em Ciência da Computação pela Universidade Vila Velha no Espirito Santo, 
                    com ênfase em Pesquisa e Automação, visando sustentabilidade. Mestrando em Engenharia de Sistemas e 
                    Automação pela Universidade Federal de Lavras, Minas Gerais. Sempre desenvolvendo trabalhos e pesquisas 
                    com temas relacionados a monitoramento autônomo, hardware livre, automação, agricultura de precisão e 
                    robótica aplicada ao campo, buscando melhoria de processos visando eficiência e baixo custo.</p>
                <a href="#" class="btn btn-default btn-xl">Voltar!</a>
            </div>
        </div>
    </div>
</section>
